.root {
    -fx-background-color: linear-gradient(to bottom right, #2C3E50, #3498DB);
    -fx-padding: 20;
    -fx-alignment: center;
}

.vbox {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0, 0, 2);
    -fx-max-width: 400;
    -fx-alignment: center;
    -fx-min-width: 300;
    -fx-max-height: 500;
    -fx-min-height: 300;
}

.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #519c42;
    -fx-alignment: center;
}

.text-field, .password-field {
    -fx-pref-width: 250;
    -fx-background-color: #F8F9FA;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #E9ECEF;
    -fx-border-width: 1;
    -fx-padding: 8;
    -fx-font-size: 13px;
    -fx-alignment: center;
}

.text-field:focused, .password-field:focused {
    -fx-background-color: white;
    -fx-border-color: #3498DB;
    -fx-effect: dropshadow(gaussian, rgba(52,152,219,0.2), 5, 0, 0, 0);
}

.button {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 30;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #2980B9;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 2);
    -fx-translate-y: -1;
}

.hbox {
    -fx-spacing: 15;
    -fx-alignment: center;
}

.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #303F9F;
    -fx-font-size: 12px;
    -fx-padding: 5 10;
    -fx-border-color: transparent;
    -fx-underline: true;
    -fx-alignment: center;
}

.link-button:hover {
    -fx-text-fill: #1A237E;
    -fx-background-color: transparent;
    -fx-effect: none;
}